.block-editor {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-block {
    padding: 1rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.1);
}

.cb-text {
    width: 80%;

    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;

    border: 1px solid #ccc;
}

.cb-text:focus {
    outline: none;
}

.cb-heading {
    font-size: 1.5rem;
}

.cb-description {
    font-size: 1rem;

    resize: vertical;
}

.cb-file-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.cb-file-input {
    height: 3rem;
    width: 15rem;

    margin-bottom: 1rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    
    color: black;
    background: white;
    border: 1px solid #ccc;
}

.cb-file-input:hover {
    background: #f6f6f6;
}

.cb-file-preview {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.cb-file-thumbnail {
    height: 15rem;

    border-radius: 6px;

    border: 1px solid #ccc;
}

.cb-file-name {
    font-size: 1.5rem;
    color: #333;
}

.add-block-container {
    width: 100%;

    padding: 0.25rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background 0.2s ease;
    border: 1px solid #ccc;
    font-size: 2rem;
    color: rgba(128, 128, 128, 0.5);
}

.add-block-container:hover {
    cursor: pointer;
    
    background: rgba(0, 0, 0, 0.25);
    color: rgb(70, 70, 70, 0.8);
}

.add-block-modal {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    background: rgba(0,0,0,0.3);
}

.add-block-modal-content {
    padding: 2rem;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.add-block-modal-content button {
    padding: 0.75rem 1rem;
    border-radius: 8px;

    cursor: pointer;
    border: none;

    background: rgba(0,0,0,0.2);
    color: #fff;
    transition: transform 0.2s ease, background 0.2s ease;
}

.add-block-modal-content button:hover {
    transform: scale(1.05);
    background: rgba(0,0,0,0.35);
}

.add-block-modal-content .cancel-btn {
    background: red;
}

.add-block-modal-content .cancel-btn:hover {
    transform: scale(1.05);
    background: red;
}

.quiz-question-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiz-answer {
    width: 10rem;
}

.quiz-radio.correct {
    color: green;
}

.quiz-radio.incorrect {
    color: red;
}

@media (max-width: 1000px) {
    .cb-file-thumbnail {
        height: 10rem;
    }

    .cb-file-preview {
        flex-direction: column;
        text-align: center;
    }

    .cb-file-name {
        max-width: 10rem;

        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .cb-file-input {
        width: 10rem;

        padding: 0 1rem;

        text-align: center;
    }

    .cb-file-thumbnail {
        height: 7rem;
    }

    .cb-file-name {
        max-width: 10rem;

        font-size: 1rem;
        text-align: center;
    }
}