.explore-detail-container {
    padding: 12rem 5rem 0;

    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.course-detail-main {
    height: 45rem;
    max-width: 65rem;

    border-radius: 25px;

    flex: 1 1 60%;
    display: flex;
    flex-direction: column;

    background: white;
}

.course-detail-carousel {
    padding: 1rem 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    flex: 1;

    position: relative;
    background: rgba(0, 0, 0, 0.1);
}

.course-detail-carousel .swiper-slide {
    height: 20rem;

    display: flex;
    justify-content: center;
}

.course-detail-carousel video {
    width: auto;
    height: 100%;

    border-radius: 12px;

    object-fit: contain;
}

.course-detail-carousel .carousel-img {
    height: 100%;

    border-radius: 12px;
}

.no-image {
    height: 100%;
    width: calc(100% - 2rem);

    margin: 0 1rem;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.course-detail-carousel .dots {
    width: fit-content;

    margin-top: 1rem;

    position: relative;
    bottom: 0;

    background: rgba(0, 0, 0, 0.3);
}

.course-detail-info {
    padding: 1rem;

    flex: 3;

    color: black;
}

.course-detail-sidebar {
    height: 35rem;

    border-radius: 25px;

    flex: 1 1 35%;
    display: flex;
    flex-direction: column;

    background: white;
}

.course-image {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    text-align: center;
}

.course-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.course-detail-info {
    flex: 3;
}

.course-instructor {
    height: 3rem;

    margin-bottom: 1rem;

    display: flex;
    gap: 1rem;

    cursor: pointer;
}

.course-instructor img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    border-radius: 50%;
}

.enroll-button button {
    height: 3rem;
    width: 50%;

    border-radius: 12px;

    background: #1495ba;
    border: none;
    color: white;
}

.enroll-button:hover button {
    cursor: pointer;
    background: #145f78;
}

@media (max-width: 1520px) {
    .explore-detail-container {
        flex-direction: column;
        align-items: center;
        padding: 10rem 10rem 5rem;
    }

    .course-detail-main,
    .course-detail-sidebar {
        flex: 1 1 auto;
        max-width: 100%;
        height: auto;
    }

    .explore-detail-container .swiper {
        width: 80%;

        border-radius: 12px;
    }

    .explore-detail-container .swiper-slide img {
        max-width: 100%;

        border-radius: 12px;

        object-fit: contain;
    }
}

@media (max-width: 1000px) {
    .explore-detail-container {
        padding: 10rem 2rem 5rem !important;
    }

    .course-detail-carousel video {
        width: 100%;
        height: auto;
    }
}