.navbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #84578a;
}

.logo-container {
    margin-left: 1rem;
}

.navbar-logo {
    height: 3rem;
    width: 3rem;

    padding: 0.5rem;
    object-fit: contain;
    border-radius: 15px;

    background: #ffffff;
}

.navbar-profile {
    height: 3rem;
    width: 3rem;

    margin: 1rem;
    padding: 0.5rem;
    border-radius: 50%;

    position: relative;
    cursor: pointer;

    background: #ffffff;
}

.profile-wrapper {
    position: relative;
}

.profile-menu {
    min-width: 150px;

    display: flex;
    flex-direction: column;

    padding: 0.7rem;
    gap: 0.5rem;
    border-radius: 10px;

    position: absolute;
    top: 90%;
    right: 1rem;
    z-index: 100;

    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.profile-menu-item {
    padding: 0.4rem 0.5rem;
    border-radius: 5px;

    text-decoration: none;
    color: black;
}

.profile-menu-item:hover {
    background: #eee;
}